.loginmaindiv{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.logincarddiv{
    display: flex;
    width: 500px;
    justify-content: center;
}
.innerlogin{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}
.buttonview{
    display:flex;
    display: flex;
    padding: 30px;
    // align-self: flex-start;
    justify-content: space-between;
    width: 100%;

}
.buttonsview{
    display: flex;
    width: 480px;
}
.registermaindiv{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 71px;
}
.registercard{
    display:flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
}
.innerregister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonregister{
    display:flex;
    padding: 41px;
    width: 400px;
    justify-content: space-around;
}
.maindashboard{
    display: flex;
    // border: 1px solid;
    background: green;
    flex-direction: column;
}
.toolbarcontain{
    display: flex;
    background-color:white;
    flex-direction: row;
    align-items: center;
    margin: 0;

}
.menuview{
    display: flex;
    width: 5%;
}
.imgview{
    display: flex;
    width: 5%;
}
.mainsearchdiv{
    display: flex;
    width: 40%;
    flex-direction: row;
    // border: 1px solid;
   
    background-color: grey;
    border-style: solid;
    border-radius: 10px;
  
}
.keep{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 5%;
}
.keeps{
    width: 15%;
}
.accountstyle{
    display:flex;
    // border: 1px solid;
    width: 20%;
    // justify-content: flex-end;
  
}
.sizeicon{
    display: flex;
    flex-direction: row;
    width: 670px;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}
.imgicon{
    margin-right: 21px;
    width: 5%;
    // background: black;
}
.imgsicon{
    background: black
}
.mainnotediv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 81px;
    // width:570px;
}
// .mainNote{
.cardd{
    display:flex;
    width:570px;
    flex-direction: column;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.54);
}
// }
.inputnote{
    // width: 530px;
    display: flex;
    width: 98%;
    padding-left: 11px;
    flex-direction: row;
    justify-content: space-between;
}
.imagesnotes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1px;
    // border: 1px solid;
}
.btndiv{
    display:flex;
}
.outerview{
    display: flex;
}
.searchicon{
    margin-left: 5px;
    margin-top: 5px;
}

.forgetcard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 30px;
}
.innercard{
    display: flex;
    flex-direction: column;
    width: 460px;
}
.cardcontent{
    display: flex;
    width: 470px;
    flex-direction: column;
    justify-content: center;
}
.headers{
    display: flex;
    align-self: center;
}
.innertext{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 470px;
}
.innerbtn{
    display: flex;
    padding: 41px;
}
.resetmaindiv{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
// .cardiv{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     width: 460px;
// }
.innertext{
    display: flex;
    flex-direction: column;
    width: 410px;
    padding: 21px;
}
.btnreset{
    display: flex;
    padding: 21px;
}
.maingetcard{
    display:flex;
    border: 1px solid;
    flex-direction: column;
    justify-content: space-between;
}
.getcard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // border: 1px solid;
    padding: 11px;
    height: auto;
    flex-wrap: wrap;
    margin-left: 131px;
    margin-right: 101px;
   
}
.cardiv{
    display: none;
    height:100%
}



.cardsdiv:hover .cardiv{
    display: flex;
    flex-direction: row;
    width: 320px;
    justify-content: space-around;
    width: 310px;
    margin-bottom: 11px;
    border-radius: 25px;
    // height: 100%;
}


.cardsdiv{
    display:flex;
    // border: 1px solid;
    border-radius: 25px;
    margin-bottom: 30px;
    width: 300px;
    // width: 100%;
    min-width: 300px;
    height: 100%;
    min-height: 175px;


}
.regnames{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.emailname{
    display:flex;
    width: 81%;
    flex-direction: column;
    margin: 0px;
}
.textEmailname{
    // display: flex;
    margin: 10px;
}
.head{
    display: flex;
    padding-left: 21px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.head1{
    display: flex;
    padding-left: 21px;
    margin-top: -19px;
}
.colorPalleteCard{
    position: absolute;
    padding: 3px;
    width: 131px;
    height: 90px;
    justify-content: space-between;
    width: 141px;
  }
.colorPalleteIcon{
    width: 141px;
    height: 90px;
}
.remindervalue{
    
    width: max-content;
}
.pinned{
    display: flex;
    padding-right: 11px;
}
// .archiveDiv{
//     display:flex;
//     background-color: green;
//     border:1px solid;
//     border-color: black
// }
.moreimg{
    width: 20px;
}

.getmodifycard{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    // border: 1px solid;
    padding: 11px;
    height: auto;
    flex-wrap: wrap;
    margin-left: 211px;
    margin-right: -29px;
}

.newLabel{
    display: flex;
    flex-direction: row;
    padding-bottom: 71px;
    justify-content: space-around;
}
.mainLabel{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.headerLabel{
    display: flex;
    padding-left: 11px;
}
.rightClick{
    display: flex;
    padding-top: 1px;
}

// .getscarrds{
//     display: flex;
//     flex-direction: column;
//     /* width: 100%; */
//     justify-content: space-evenly;
//     padding: 11px;
//     height: auto;
//     flex-wrap: wrap;
//     margin-left: 131px;
//     margin-right: 101px;
// }
.cardds{                        //horizontal
    display: flex;
    border-radius: 25px;
    margin-bottom: 30px;
    width: 100%;
    min-width: 300px;
    height: 100%;
    min-height: 175px;
}
.collaborator{
    width: 561px;
    height: 220;
}
.collabButtons{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 100px;
}
.imgesCollaborator{
    display: flex;
    padding-left: 21px;
    padding-top: 11px;
}
.imgtext{
    display: flex
}
.collaboratorText{
    display: flex;
    padding-left: 11px;
    width: 211px;
}
.collabHeaders{
    padding-left: 21px;
}
.myCollab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.addCollab{
    padding-top: 31px;
    padding-right: 11px;
}